*{
	margin: 0;
	padding: 0;
}
/*font-family: 'Poppins', sans-serif;*/
body{
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}

/**********
header section
*****************/
header{
	position: absolute;
	width: 100%;
	z-index: 9;
}
.sticky{
	width: 100%;
	position: fixed;
	z-index: 99999;
	background: rgba(0,0,0,0.8);
}
.nav-item{
    padding: 10px 16px;
}
.nav-link{
	color: #fff !important;
	font-size: 15px;
	    font-weight: 500;
}
.d-flex a{
   font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
}
.d-flex a:before{
	content: '';
	position: absolute;
	width: 100%;
	background: #FFE8C3;
	height: 3px;
	    top: 25px;
	    left: 0;
}

/***************
banner section 
***************/
.banner{
	width: 100%;
	background: url(../img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 80px 0;
	position: relative;
	z-index: 1;
}
.banner1{
	width: 100%;
	background: url(../img/banner2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 80px 0;
	position: relative;
	z-index: 1;
}

.overlay{
	position: absolute;
	background:  #001D38;
	opacity: 0.4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.banner-text{
margin-right: 28px;
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
}
.banner-text h1{
	font-weight: 600;
    font-size: 60px;
    color: #ffffff !important;
    margin-bottom: 37px;
}
.banner-text button{
	    padding: 18px 48px;
    background:#FFE8C3;
    border: none;
    text-transform: capitalize;
    color: #001D38;
}
.banner-text button:hover{
    color: #fff !important;
    background: #001D38;
}

/***********
category section
***********/
.cate{
	width: 100%;
	/*padding: 80px 0;*/
}
.cate-box{
display: flex;
/*margin: 12px 0;*/
}
.item1{
    flex-grow: 1; 
    padding: 79px;
}
.item1 .txt{
    margin: 0px 35px;
}
.item1 .txt h2{
    font-size: 30px;
    color: #001D38;
    font-weight: 500;
    position: relative;

}
.txt h2:before{
content: '';
    position: absolute;
    width: 34px;
    height: 3px;
    background: #FFD35A;
    left: -48px;
    top: 50%;
}
.item1 .txt p{
color: #EAEAEA;
width: 104%;
opacity: 0;
}
/*.txt p:before{
	content: '';
	position: absolute;
	color: white;
}
*/
.item1 .serial{

}
.item1 .serial h1{
    font-size: 170px;
    color: #EAEAEA;
    font-weight: 500;
      /*  margin-top: 70px;*/
}
/*.s1{
	background: url(../img/item1.png) center no-repeat;
}
.s2{
	background: url(../img/item2.png) center no-repeat;
}
.s3{
	background: url(../img/item3.png) center no-repeat;
}*/
.s1,.s2,.s3{
background:  white;

}
.s1:hover .txt h2, .s2:hover .txt h2,.s3:hover .txt h2{
	color: white;
	position: relative;
}
.s1:hover{
	position: relative;
background: url(../img/item1.png) center no-repeat;	
}
.s2:hover{
background: url(../img/item2.png) center no-repeat;

position: relative;
}
.s3:hover{
background: url(../img/item3.png) center no-repeat;	
position: relative;
}
.s1:hover .txt p, .s2:hover .txt p,.s3:hover .txt p{
	color:#ffffff;
opacity: 1;
position: relative;

}
.s1:hover .serial h1, .s2:hover .serial h1,.s3:hover .serial h1{
	    color: #fff;
    opacity: .28;
 position: relative;
}
/*.s1:before, .s2:before, .s3:before{
	content: '';
	position: absolute;
	background: white;
	opacity: 0.6;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}*/
.s1:hover::before, .s2:hover::before,.s3:hover::before{
	content: '';
	position: absolute;
	background: #001D38;
	opacity: 0.6;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}
/***************
our-works section 
***************/
.our-works{
	width: 100%;
	padding:180px 0;
	background-color: #F5FBFF;
}
.our-works h1{
	    font-size: 50px;
    font-weight: 500;
    color: #001D38;
      margin-bottom: 120px;
}
.detials h3{
font-size: 30px;
    font-weight: 500;
    color: #001D38;
}
.detials p{
    color: #596672;
    margin-top: 12px;
    margin-bottom: 38px;
         width: 130%;
}
.detials button, .right button{
	 padding: 18px 48px;
    background:#001D38;
   
    text-transform: capitalize;

    color: #fff ;
    display: inline-block;
  /*  padding: 14px 47px;*/
    
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border: 1px solid #001D38;
    
    border-radius: 0px;
    text-align: center;
    text-transform: capitalize
}
.detials button:hover{
	    color: #001D38 !important;
    border: 1px solid #001D38;
    background: #fff;
}
.right button:hover{
	  color: #001D38 !important;
    border: 1px solid #001D38;
    background: #fff;
}
.work-details .col-md-4{
	display: flex;
	align-items: center;
}
.detials{
	    margin-left: 59px;
}
.work-details .container {
    margin-top: -235px;
}
.work-details .row{
	margin-bottom: 85px;
}
.del{
	margin-left: 0;
}
.del p{
	width: 123%;
}
.img{
	margin-left: 87px;

}
/***************
about section 
***************/
.about{
	width: 100%;
	background-color: #F5FBFF;
	display: flex;
	 align-items: center; 
}
/*.left{
	flex-basis: 50%;
}*/
.right{
    padding-left: 80px;
   /* flex-basis: 55%;*/
     padding-right: 70px; 
    }
.right h1{
	    font-size: 40px;
	    font-weight: 500;
	    color: #001D38;
	  /*  margin-top: 41px;*/
}
.right p{
    font-size: 16px;
    color: #727272;
    font-weight: 400;
    width: 90%;
margin-top: 15px;
    margin-bottom: 18px;
}
.right button{

}
.about-stat
{margin: 0;
	padding: 0;
	padding-bottom: 30px;}
.about-stat li{
	list-style: none;
	margin-bottom: 30px;
}
.about-stat li h5{
	/*margin-top: 28px;*/
}
.about-stat li .line1{
	height: 3px;
	width: 60%;
	background: #001d38;
}
.about-stat li .line2{
	height: 3px;
	width: 70%;
	background: #001d38;
}
.about-stat li .line3{
	height: 3px;
	width: 80%;
	background: #001d38;
}

/**************
testimonial section
****************/
.testimonial{
	width: 100%;
	background: url(../img/testmonial.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 75vh;
	position: relative;
	z-index: 1;
}
.testimonial-text{
	    text-align: center;
    /* margin: 0 auto; */
    padding-top:166px;
}

.testimonial-text p{
	    color: #fff;
    font-weight: 400;
    font-size: 20px;
}
.testimonial-text img{
	margin-bottom: 24px;
}
.t1 img{
    width: auto!important;
    display: initial!important;
    margin-bottom: 15px;
}
.overly{
	
}
.overly:before{
	content: '';
	position: absolute;
    background-color: #001D38;
	opacity: 0.5;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:-1;
}
.testimonial-pic{
	text-align: center;
	margin-top: 28px;
}
.testimonial-pic h3{
	    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 5px;
  /*  margin-bottom: 17px;*/
}
.testimonial-pic span{
	font-size: 13px;
    font-weight: 400;
    color: #fff;

}

/**************
instra section
****************/
.instra{
	width: 100%;
	padding: 100px 0;
	text-align: center;
}
.instra h1{
	    font-size: 50px;
    font-weight: 500;
    color: #001D38;
        margin: 54px 0;
}
/**************
footer section
****************/
.footer{
	width: 100%;
	    padding: 80px 0px 30px 0px;
	background: #001D38;
}
.foot{
	border-bottom: 1px solid #334A60;
}
.footer-text{
margin-bottom:40px;
}
.footer-text h1{
	    font-size: 30px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 16px;
    font-family: "Poppins", sans-serif;
}
.footer-text h1 a{
	color:  #FFD35A;
}
.text2{
	text-align: right;
}
.text2 p a{
	font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-del{
    margin-top: 48px;
}
.footer-del h3{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer-del p{
    color: #D5D5D5;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.footer-del span a{
    color: #D5D5D5;
    font-weight: 400;
}
.sub{
	margin-right: 30px;
}
/*.for{
	margin-left: 20px;
}*/
.footer-form{
margin-bottom: 12px;
}
.footer-form input{
        color: #fff;
    /* border: none; */
    outline: none;
    font-size: 15px;
    background: transparent;
	border: 1px solid #334A60;
      width: 98%;
        height: 50px;
    line-height: 49px;
    border-radius: 34px;
    margin-left: 12px;
    padding-left: 22px;
}
.footer-form button{
    
   
    color: #001D38;
    background: #FFE8C3;
    border: none;
    font-size: 14px;
    font-weight: 500;
       width: 40%;
    height: 44px;
    border-radius: 50px;
    line-height: 44px;
    /* margin-right: -18px; */
    margin-left: -148px;
 }
.ptxt{
	margin-top: 15px;
	    margin-left: 24px;
}
.footer-txt{
	text-align: center;

}
.footer-txt p{
	    font-size: 14px;
    color: #919191;
    	margin-bottom: 0;
    font-weight: 400;
 }
.footer-txt p a{
	color: #FFE8C3;
}
.footer-f{
	padding-top: 60px;
    padding-bottom: 100px;
}
